<div class="card shadow-sm" [class.preview]="preview">
    <img
        *ngIf="product.imageUrl"
        class="card-img-top"
        [src]="product.imageUrl"
    />
    <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text d-flex justify-content-between align-items-center">
            <span>
                {{ product.price | currency }}
            </span>

            <span *ngIf="!preview">
                <ng-container *ngIf="basketQuantity$ | async as qtty">
                    <button
                        class="btn btn-light btn-sm mr-2"
                        (click)="onDecreaseBasketItem()"
                    >
                        <i class="fas fa-minus"></i>
                    </button>
                    <span class="badge badge-light mr-2">{{ qtty }}</span>
                </ng-container>
                <button
                    class="btn btn-primary btn-sm"
                    (click)="onIncreaseBasketItem()"
                >
                    <i class="fas fa-shopping-cart"></i>
                </button>
            </span>
        </p>
    </div>
</div>
