<h1 class="display-4">My Orders</h1>

<table class="table table-hover vertical-align">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders$ | async">
            <td class="w-50">{{ order.id }}</td>
            <td class="w-25">{{ order.createdAt | date }}</td>
            <td class="text-right">
                <a class="btn btn-link" [routerLink]="['/orders', order.id]"
                    >View</a
                >
            </td>
        </tr>
    </tbody>
</table>
