<table class="table">
    <thead class="thead-light">
        <tr>
            <th class="d-none d-md-table-cell"></th>
            <th class="w-50">Product</th>
            <th class="w-25">Quantity</th>
            <th class="text-right">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <th class="d-none d-md-table-cell">
                <img class="img-cover rounded-circle" [src]="item.imageUrl" />
            </th>
            <td class="lead">{{ item.title }}</td>
            <td>
                <app-quanntity-input
                    [value]="item.quantity"
                    (change)="onQuantityUpdate(item, $event)"
                ></app-quanntity-input>
            </td>
            <td class="text-right">
                {{ item.price * item.quantity | currency }}
            </td>
        </tr>
    </tbody>
</table>

<hr />

<h4 class="text-right">
    <span class="text-muted mr-4">Total:</span>
    {{ total | currency }}
</h4>
