<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
        <!-- brand logo -->
        <a class="navbar-brand" routerLink="/">
            <i class="fas fa-leaf"></i> OrganicShop
        </a>

        <!-- collapse button -->
        <button
            class="navbar-toggler"
            type="button"
            (click)="isMenuCollapsed = !isMenuCollapsed"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
            <!-- navigation items -->
            <ul class="navbar-nav mr-md-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/products">Products</a>
                </li>
            </ul>

            <!-- user menu -->
            <ul class="navbar-nav align-items-md-center">
                <li class="nav-item mr-2" routerLinkActive="active">
                    <a
                        class="nav-link d-flex align-items-center"
                        routerLink="/basket"
                    >
                        <span class="fas fa-shopping-cart fa-lg mr-2"></span>
                        <span class="badge badge-warning">{{
                            basketCount
                        }}</span>
                    </a>
                </li>

                <li
                    class="nav-item"
                    ngbDropdown
                    display="dynamic"
                    *ngIf="user; else guest"
                >
                    <a class="nav-link pointer" ngbDropdownToggle>
                        <img
                            [src]="user.photoUrl"
                            class="rounded-circle img-profile"
                        />
                    </a>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <h6 class="dropdown-header text-warning">
                            {{ user.name }}
                        </h6>
                        <a routerLink="/orders" ngbDropdownItem>My Orders</a>
                        <a
                            *ngIf="user.isAdmin"
                            routerLink="/admin"
                            ngbDropdownItem
                            >Manage Shop</a
                        >
                        <div class="dropdown-divider"></div>
                        <a class="pointer" ngbDropdownItem (click)="onLogout()"
                            >Log Out</a
                        >
                    </div>
                </li>

                <ng-template #guest>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/login">Login</a>
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>
</nav>
