<h1 class="display-4">Shopping Cart</h1>

<p class="lead text-muted">
    You have {{ itemCount$ | async }} items in your shopping cart
</p>

<br />

<table class="table">
    <thead class="thead-light">
        <tr>
            <th></th>
            <th>Product</th>
            <th>Quantity</th>
            <th class="text-right">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items$ | async">
            <th>
                <img class="rounded-circle" [src]="item.imageUrl" />
            </th>
            <td class="lead">{{ item.title }}</td>
            <td>
                <button
                    class="btn btn-light btn-sm mr-2"
                    (click)="onDecreaseBasketItem(item)"
                >
                    <i class="fas fa-minus"></i>
                </button>
                <span class="badge badge-light mr-2">{{ item.quantity }}</span>

                <button
                    class="btn btn-primary btn-sm"
                    (click)="onIncreaseBasketItem(item)"
                >
                    <i class="fas fa-shopping-cart"></i>
                </button>
            </td>
            <td class="text-right">
                {{ item.price * item.quantity | currency }}
            </td>
        </tr>
    </tbody>
</table>

<hr />

<div class="d-flex justify-content-between align-items-center">
    <button class="btn btn-warning" (click)="onClear()">Clear Basket</button>
    <h4>Total: {{ total$ | async | currency }}</h4>
</div>
