<ng-container *ngIf="count$ | async as count; else empty">
    <h1 class="display-4">Basket</h1>

    <p class="lead text-muted">You have {{ count }} items in your basket.</p>

    <br />

    <app-basket-items
        [items]="items$ | async"
        [total]="total$ | async"
        (itemUpdate)="onItemUpdate($event)"
    ></app-basket-items>

    <hr />

    <div class="float-right">
        <button class="btn btn-warning" (click)="onClear()">
            Clear Basket
        </button>
    </div>
</ng-container>

<ng-template #empty>
    <app-basket-empty></app-basket-empty>
</ng-template>
