<a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>

<br />
<br />

<table class="table table-hover">
    <thead class="table-light">
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products$ | async">
            <td>{{ product.title }}</td>
            <td>{{ product.price | currency: "USD":true }}</td>
            <td>
                <a class="mr-2" [routerLink]="['/admin/products', product.key]">Edit</a>
                <a href="#" (click)="onDelete(product.key)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
