<div class="row">
    <div class="col">
        <a routerLink="/admin/products/new" class="btn btn-primary"
            >New Product</a
        >
    </div>
    <div class="col">
        <input
            #filter
            type="text"
            class="form-control"
            placeholder="search..."
            (keyup)="onFilter(filter.value)"
        />
    </div>
</div>

<br />
<br />

<table class="table table-hover vertical-align">
    <thead class="thead-light">
        <tr>
            <th></th>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products$ | async | filter: 'title':query">
            <td>
                <img [src]="product.imageUrl" class="img-cover rounded-circle">
            </td>
            <td class="w-50">{{ product.title }}</td>
            <td class="w-25">{{ product.price | currency }}</td>
            <td class="text-right">
                <a
                    class="btn btn-link"
                    [routerLink]="['/admin/products', product.id]"
                >
                    Edit
                </a>
                <button
                    type="button"
                    class="btn btn-link"
                    (click)="onDelete(product.id)"
                >
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>
