<!-- your navs bound to current route fragments -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/admin/products"
            >Products</a
        >
    </li>

    <li class="nav-item">
        <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/admin/categories"
            >Categories</a
        >
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/admin/orders"
            >Orders</a
        >
    </li>
</ul>

<br />

<router-outlet></router-outlet>
