<div class="row">
    <div class="col-md-3 mb-4">
        <ng-container *ngIf="categories$ | async as categories">
            <app-product-filter [categories]="categories"></app-product-filter>
        </ng-container>
    </div>

    <div class="col-md-9" *ngIf="basket$ | async as basket">
        <!-- card columns -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div
                class="col mb-4"
                *ngFor="let product of filteredProducts$ | async"
            >
                <!-- card -->
                <app-product-card
                    [product]="product"
                    [basket]="basket"
                    (basketUpdate)="onBasketUpdate($event)"
                ></app-product-card>
            </div>
        </div>
    </div>
</div>
