<form #f="ngForm" (ngSubmit)="onSave()">
    <div class="form-group">
        <label>ID</label>
        <input
            [(ngModel)]="category.id"
            name="id"
            type="text"
            class="form-control"
            disabled
        />
    </div>

    <div class="form-group">
        <label for="name">Name</label>
        <input
            #name="ngModel"
            [(ngModel)]="category.name"
            id="name"
            name="name"
            type="text"
            class="form-control"
            (keyup)="onNameChange(name.value)"
            required
        />
        <small
            class="form-text text-danger"
            *ngIf="name.touched && name.invalid"
        >
            name is required
        </small>
    </div>

    <button class="btn btn-primary mr-2" [disabled]="f.invalid">
        Save
    </button>

    <button
        type="button"
        class="btn btn-danger"
        (click)="onDelete()"
        *ngIf="category.id"
    >
        Delete
    </button>
</form>
