<div class="sticky-top">
    <div class="list-group">
        <a
            routerLink="."
            class="list-group-item list-group-item-action text-success"
            >All Categories</a
        >
        <a
            *ngFor="let category of categories"
            routerLink="."
            routerLinkActive="active"
            [queryParams]="{ category: category.id }"
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        >
            <span>
                {{ category.name }}
            </span>

            <span class="badge badge-light">
                {{ category.productCount }}
            </span>
        </a>
    </div>
</div>
