<div class="sticky-top">
    <div class="list-group">
        <a
            routerLink="/products"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="list-group-item list-group-item-action"
            >All Categories</a
        >
        <a
            *ngFor="let category of categories"
            routerLink="/products"
            routerLinkActive="active"
            [queryParams]="{ category: category.id }"
            class="list-group-item list-group-item-action"
            >{{ category.name }}</a
        >
    </div>
</div>
