/* You can add global styles to this file, and also import other style files */

body {
    padding-top: 5rem;
}

.pointer {
    cursor: pointer;
}

.ng-touched.ng-invalid {
    border-color: red;
}

table.vertical-align td {
    vertical-align: middle;
}

.img-cover {
    object-fit: cover;
}

.bg-dark-50 {
    background-color: rgba(0, 0, 0, 0.5);
}
